<% include ../partials/header.ejs %>

<div class='container'>
    <div style='text-align: center;'>
        <h1 style='margin: 40px;'>Add a new comment to <%= campground.name %></h1>
        <form style='width: 30%; margin: auto' action='/campgrounds/<%= campground._id %>/comments' method='POST'>
            <div class='form-group'>
                <input class='form-control' type='text' name='comment[text]' placeholder='text'>
            </div>
            <div class='form-group'>
                <input class='btn btn-primary btn-block' type='submit'>
            </div>
        </form>
        <a class= href='/campgrounds'>Go back</a>
    </div>
</div>
<% include ../partials/footer.ejs %>
